$color-accent: #A78FB2;
$color-background: #F5F9FA;
$color-border: #9F9F9F;
$color-confirm: #66CCAA;
$color-confirm-font: #F9F9F9;
$color-font: #4D4D4D;
$color-shadow: #D2D2D2;

$font-sans: 'Monda', sans-serif;
$font-mono: 'Share Tech Mono', monospace;

$font-size-purchase-header: 20px;

$border-radius: 3px;

$size-header-height: 275px;
